@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  padding: 15px 0px 55px 0px;
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  transition: background-color .8s;
  z-index: 9999;
}
.navbar.scrolled {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo{
  display: flex;
  width: 40px;
  height: 40px;
}
.logo h1{
  color: white;
  font-size: 26px;
  margin-left: 10px;
  font-family: 'DM Sans', sans-serif;
}

.menu-icon {
  display: none;
}

.fa-bars-staggered{
  color: white;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: gray;
  font-weight: 500;
  position: relative;
}

.expand{
  position:relative;
  text-decoration:none;
  display:inline-block;
}
.expand:after {
  display:block;
  content: '';
  border-bottom: solid 3px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
.expand:hover:after { 
  transform: scaleX(1);
  transform-origin:0 50%;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 650px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #161616;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 40px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif; /* Initial font family */
}
